.job-post-form {
    width: 60%;
    margin: auto;
    padding: 20px;
    border: 1px solid #e2dfdf;
    border-radius: 5px;
    background-color: hsla(0, 93%, 48%, 0.685);
    box-shadow: 0px 0px 10px rgba(228, 4, 4, 0.842);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-field {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input-field label {
    font-weight: bold;
    margin-bottom: 5px;
}

.input-field input,
.input-field textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

textarea {
    resize: vertical;
    height: 100px;
}

.action {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.action button {
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
}

.action button:nth-child(2) {
    background-color: #740303;
}

.action button:nth-child(3) {
    background-color: #61030d;
}

.action button:hover {
    opacity: 0.9;
}

.message {
    margin-top: 20px;
    text-align: center;
    color: rgb(119, 5, 21);
    font-weight: bold;
}
